<div id="contactUsForm" class="row">

	<div class="col-xs-12 col-md-12 col-lg-12 padding-bottom-20">
		<span class="col-xs-4 col-md-4 col-lg-4 contactUslabel">Name :</span>
		<span><input type="text" id="name" class="col-xs-4 col-md-4 col-lg-4"/></span>
	</div>
	<div class="col-xs-12 col-md-12 col-lg-12 padding-bottom-20">
		<span class="col-xs-4 col-md-4 col-lg-4 contactUslabel">Email Id :</span>
		<span><input type="text" id="emailId" class="col-xs-4 col-md-4 col-lg-4"/></span>
	</div>
	
	<div class="col-xs-12 col-md-12 col-lg-12 padding-bottom-20">
		<span class="col-xs-4 col-md-4 col-lg-4 contactUslabel">Comments :</span>
		<span><textarea rows="4" cols="50" id="comments" class="col-xs-4 col-md-4 col-lg-4"></textarea></span>
	</div>

	<div class="col-xs-12 col-md-12 col-lg-12 padding-bottom-20 padding-left-50-prcnt"><button id="submit" class="col-xs-4 col-md-4 col-lg-4 submit">Submit</button></div>

	<div class="col-xs-12 col-md-12 col-lg-12"><span class="errorSpan"></span></div>

</div>